name: CI

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build:
    uses: ./.github/workflows/ci_build.yml

  test:
    uses: ./.github/workflows/ci_test.yml

  release:
    uses: ./.github/workflows/ci_release.yml
    # Only run on main repo, don't try to release on forks
    # Also only run on pushes to main branch, i.e. PRs and merge groups should not run this step
    if: |
      (github.repository == 'wasmCloud/typescript') &&
      (github.event_name == 'push' && github.ref == 'refs/heads/main')
    needs: [build, test]
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      BOT_APP_ID: ${{ secrets.BOT_APP_ID }}
      BOT_APP_PRIVATE_KEY: ${{ secrets.BOT_APP_PRIVATE_KEY }}
    permissions:
      actions: write # Needed to create releases
      contents: write # Needed to commit changesets
      pull-requests: write # Needed to create pull requests
      id-token: write # Needed for npm provenance

  ci-check:
    needs: [build, test]
    if: ${{ always() }}
    uses: ./.github/workflows/workflow_check.yml
    with:
      pass-condition: ${{ contains(needs.*.result, 'failure') == false }}
