name: CI - Build

on:
  workflow_call: {}

env:
  TURBO_CACHE_DIR: ./.turbo/cache
  TURBO_TELEMETRY_DISABLED: true
  TURBO_RUN_SUMMARY: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Setup Node and Yarn
        uses: ./.github/actions/ts-setup

      - name: Build
        run: yarn turbo build

      - name: Upload Build
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: build-assets
          path: |
            ./**/dist/
            !**/node_modules/
