name: CI - Test

on:
  workflow_call: {}

env:
  TURBO_CACHE_DIR: ./.turbo/cache
  TURBO_TELEMETRY_DISABLED: true
  TURBO_RUN_SUMMARY: true

permissions:
  contents: read

jobs:
  test:
    name: test:format-lint-unit

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup
        uses: ./.github/actions/ts-setup
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}

      - name: Run Tests
        run: yarn turbo lint format test:unit

  wash-versions:
    name: test:get-wash-versions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Fetch Latest Wash Versions
        id: fetch
        uses: ./.github/actions/crate-versions
        with:
          crate: wash
          lookback: '3'

    outputs:
      versions: ${{ steps.fetch.outputs.versions }}

  e2e:
    name: ${{ format('e2e:wash@{0}', matrix.wash) }}

    runs-on: ubuntu-latest

    needs: [wash-versions]

    strategy:
      matrix:
        wash: ${{ fromJson(needs.wash-versions.outputs.versions) }}

    env:
      # store browsers in the node_modules folder
      PLAYWRIGHT_BROWSERS_PATH: 0
      WASH_VERSION: ${{ matrix.wash }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Node, Yarn
        uses: ./.github/actions/ts-setup

      - name: Install `wash` CLI
        uses: taiki-e/install-action@69e777b377e4ec209ddad9426ae3e0c1008b0ef3 # v2.64.0
        with:
          tool: wash@${{ matrix.wash }}

      - name: Run Playwright Tests
        run: yarn test:e2e

      - name: Upload Test Results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        if: always()
        env:
          WASH_VERSION: ${{ matrix.wash }}
        with:
          name: playwright-report-${{ matrix.wash }}
          retention-days: 30
          path: |
            ./apps/washboard-ui/playwright-report
            ./apps/washboard-ui/test-results
