name: Examples - Component

on:
  workflow_call:
    inputs:
      folder:
        type: string
        description: The folder name of the example component, relative to the ./examples/components folder
        required: true
      build-path:
        type: string
        description: The build path of the example component, relative to the ./examples/components folder
        required: true
      wasm-bin:
        type: string
        description: name of the wasm binary found inside the build folder
        required: true
      test-command:
        type: string
        description: Command to run the test. The command should set TEST_RESULT to 0 or 1 based on the test result
        required: true
      skip-wadm:
        type: boolean
        description: Whether to skip WADM-related testing (`true`/`false`)
        required: true
      force:
        type: boolean
        description: Force the build and test steps to run, even if no changes are detected
        required: true
      wash-version:
        type: string
        description: The version of Wash to use for the build and test steps
        required: true

env:
  DEPLOY_RETRIES: 60
  DEPLOY_TIMEOUT: 1
  TEST_RETRIES: 60
  TEST_TIMEOUT: 1

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      run-build: ${{ steps.force.outputs.force || steps.check-example-changes.outputs.changed == 'true' }}
    steps:
      - name: Force build if needed
        id: force
        if: inputs.force
        run: |
          # Force build if needed
          # This is a workaround since at least one step must run in a job
          echo "force=true" >> $GITHUB_OUTPUT

      - name: Checkout
        if: ${{ !inputs.force }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check for Example Changes
        id: check-example-changes
        if: ${{ !inputs.force }}
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: |
            changed:
              - 'examples/components/${{ inputs.folder }}/**'

  build:
    runs-on: ubuntu-latest
    needs: [check]
    if: needs.check.outputs.run-build == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: 'npm'
          cache-dependency-path: './examples/components/${{ inputs.folder }}/package-lock.json'
          node-version-file: './examples/components/${{ inputs.folder }}/.nvmrc'

      - name: Install Wash
        uses: taiki-e/install-action@0e76c5c569f13f7eb21e8e5b26fe710062b57b62 # v2.65.13
        with:
          tool: wash@${{ inputs.wash-version }}

      - name: Install JS Wasm Tools
        run: |
          npm install -g @bytecodealliance/jco
          npm install -g @bytecodealliance/componentize-js

      - name: wash build
        working-directory: './examples/components/${{ inputs.folder }}'
        run: wash build

      - name: run tests
        working-directory: './examples/components/${{ inputs.folder }}'
        run: npm run test

      - name: upload
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.folder }}-wasm-bin
          path: ./examples/components/${{ inputs.folder }}/${{ inputs.build-path }}/${{ inputs.wasm-bin }}

  test:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Wash
        uses: taiki-e/install-action@0e76c5c569f13f7eb21e8e5b26fe710062b57b62 # v2.65.13
        with:
          tool: wash@${{ inputs.wash-version }}

      - name: Download wasm-bin
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ inputs.folder }}-wasm-bin
          path: ./examples/components/${{ inputs.folder }}/${{ inputs.build-path }}/

      # Run the wadm file and make sure it deploys
      - name: Test Deployment
        shell: bash
        working-directory: './examples/components/${{ inputs.folder }}'
        env:
          SKIP_WADM: ${{ inputs.skip-wadm == true && 'true' || 'false' }}
        run: |
          set -xe

          if [[ "$SKIP_WADM" == "true" ]]; then
            exit 0;
          fi

          wash up -d;
          wash app deploy ./local.wadm.yaml;
          sleep 1;
          TRIES=0
          while [[ $(wash get inventory --output=json | jq '.inventories[0].components | length') -eq 0 ]] ; do
            if [[ $TRIES -gt $DEPLOY_RETRIES ]]; then
              echo "❌ failed to find component in inventory output after deploying example manifest";
              exit -1;
            fi
            TRIES=$((TRIES+$DEPLOY_TIMEOUT));
            echo $(wash app list --output json | jq -r '.applications[0]')
            sleep 1;
          done;
          echo "✅ successfully started at least one component";

      - name: Test Functionality
        shell: bash
        if: inputs.test-command != ''
        working-directory: './examples/components/${{ inputs.folder }}'
        run: |
          set -xe
          TRIES=0
          TEST_RESULT=0
          while [[ $TEST_RESULT -eq 0 ]] ; do
            if [[ $TRIES -gt $TEST_RETRIES ]]; then
              echo "❌ failed to find component in inventory output after deploying example manifest";
              exit -1;
            fi

            # Test command should update the TEST_RESULT variable to 0 or 1 based on the test result
            ${{ inputs.test-command }}

            TRIES=$((TRIES+$TEST_TIMEOUT));
            sleep 1;
          done;
          echo "✅ successfully ran test command";

      - name: Cleanup Deployment
        if: always()
        working-directory: './examples/components/${{ inputs.folder }}'
        env:
          SKIP_WADM: ${{ inputs.skip-wadm == true && 'true' || 'false' }}
        run: |
          if [[ "$SKIP_WADM" == "true" ]]; then
            exit 0;
          fi
          wash app delete ./local.wadm.yaml;
          wash down --all;
          exit 0;

  release:
    runs-on: ubuntu-latest
    needs: [build, test]
    if: github.event_name == 'push' && github.ref_type == 'tag'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download wasm-bin
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ inputs.folder }}-wasm-bin
          path: ./examples/components/${{ inputs.folder }}/build/

      # Determine tag version (if this is a release tag), without the 'v'
      - name: Determine version
        id: meta
        shell: bash
        env:
          REF: ${{ github.ref }}
          REF_PREFIX: ${{ format('refs/tags/component-{0}-v', inputs.folder) }}
        run: |
          export VERSION=${REF#$REF_PREFIX};
          echo -e "version=${VERSION}" >> $GITHUB_OUTPUT;
          echo "bin-name=wash-build-${{ inputs.wash-version }}-typescript-component-${{ inputs.folder }}/${{ inputs.wasm-bin }}" >> $GITHUB_OUTPUT;
          echo "ref-prefix=$REF_PREFIX" >> $GITHUB_OUTPUT;
          echo "wasmcloud-toml-path=examples/typescript/components/${{ inputs.folder }}/wasmcloud.toml" >> $GITHUB_OUTPUT;

      - name: Install Wash
        uses: taiki-e/install-action@0e76c5c569f13f7eb21e8e5b26fe710062b57b62 # v2.65.13
        with:
          tool: wash@${{ inputs.wash-version }}

      # Push the project to GitHub Container Registry under various tags, if this is a release tag
      - name: Push SHA-tagged WebAssembly binary to GHCR
        if: ${{ startsWith(github.ref, steps.meta.outputs.ref-prefix) }}
        env:
          WASH_REG_USER: ${{ github.repository_owner }}
          WASH_REG_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: |
          wash push ghcr.io/${{ github.repository_owner }}/components/${{ inputs.folder }}-typescript:${{ github.sha }} artifacts/${{ steps.meta.outputs.bin-name }}

      - name: Push version-tagged WebAssembly binary to GHCR
        if: ${{ startsWith(github.ref, steps.meta.outputs.ref-prefix) }}
        env:
          WASH_REG_USER: ${{ github.repository_owner }}
          WASH_REG_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: |
          wash push ghcr.io/${{ github.repository_owner }}/components/${{ inputs.folder }}-typescript:${{ steps.meta.outputs.version }} artifacts/${{ steps.meta.outputs.bin-name }}

      # (wasmCloud/wasmCloud repository only)
      # Push the project to Azure Container Registry under various tags, if this is a release tag
      - name: Push SHA-tagged WebAssembly binary to AzureCR
        if: ${{ startsWith(github.ref, steps.meta.outputs.ref-prefix) && github.repository_owner == 'wasmCloud' }}
        run: |
          wash push wasmcloud.azurecr.io/${{ github.repository_owner }}/components/${{ inputs.folder }}-typescript:${{ github.sha }} artifacts/${{ steps.meta.outputs.bin-name }}
        env:
          WASH_REG_USER: ${{ secrets.AZURECR_PUSH_USER }}
          WASH_REG_PASSWORD: ${{ secrets.AZURECR_PUSH_PASSWORD }}

      - name: Push version-tagged WebAssembly binary to AzureCR
        if: ${{ startsWith(github.ref, steps.meta.outputs.ref-prefix) && github.repository_owner == 'wasmCloud' }}
        run: |
          wash push wasmcloud.azurecr.io/${{ github.repository_owner }}/components/${{ inputs.folder }}-typescript:${{ steps.meta.outputs.version }} artifacts/${{ steps.meta.outputs.bin-name }}
        env:
          WASH_REG_USER: ${{ secrets.AZURECR_PUSH_USER }}
          WASH_REG_PASSWORD: ${{ secrets.AZURECR_PUSH_PASSWORD }}
