name: Release - washboard-ui

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false

permissions:
  contents: read

jobs:
  release:
    name: washboard-ui

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Extract Tag Info
        id: extract
        uses: release-kit/semver@97491c46500b6e758ced599794164a234b8aa08c
        with:
          # Matches the following patterns:
          # - path pattern: `path/to/project/v1.2.3`
          # - package pattern: `refs/tags/package-name-v1.2.3`
          # - tag only pattern: `refs/tags/v1.2.3`
          # - node package pattern: `refs/tags/@org/package-name@1.2.3`
          pattern: '^(?:.*\/(?:[a-z-]+@?)?|[a-z-]*)?[v@]?(.*)$'
          source: 'string'
          string: ${{ inputs.version || github.ref_name }}

      - name: Download Asset
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: build-assets
          path: build

      - name: Compress Asset
        run: tar -czf washboard.tar.gz -C build/apps/washboard-ui/dist .

      - name: Upload Asset to Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: washboard.tar.gz
          tag_name: washboard-ui@${{ inputs.version }}
