  name: Release - washboard-ui

  on:
    workflow_call: {}

  permissions:
    contents: read

  jobs:
    release:
      name: washboard-ui

      runs-on: ubuntu-latest

      permissions:
        contents: write

      steps:
        - name: Checkout
          uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

        - name: Extract Tag Info
          id: extract
          uses: release-kit/semver@97491c46500b6e758ced599794164a234b8aa08c
          with:
            # Matches the following patterns:
            # - path pattern: `path/to/project/v1.2.3`
            # - package pattern: `refs/tags/package-name-v1.2.3`
            # - tag only pattern: `refs/tags/v1.2.3`
            # - node package pattern: `refs/tags/@org/package-name@1.2.3`
            pattern: '^(?:.*\/(?:[a-z-]+@?)?|[a-z-]*)?[v@]?(.*)$'

        - name: Download Asset
          uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16
          with:
            name: build-assets
            pattern: washboard-ui/dist
            path: washboard-ui
        
        - name: Compress Asset
          run: tar -czf washboard.tar.gz washboard-ui

        - name: Upload Asset to Release
          uses: softprops/action-gh-release@7b4da11513bf3f43f9999e90eabced41ab8bb048
          with:
            files: washboard.tar.gz
