name: Tag Push - washboard-ui

on:
  push:
    tags:
      - 'washboard-ui@**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Node, Yarn
        uses: ./.github/actions/ts-setup

      - name: Build
        run: yarn turbo build --filter=washboard-ui

      - name: Upload Build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: build-assets
          path: ./**/dist/

      - name: Update Release
        uses: ./.github/workflows/release_washboard-ui.yml
